@model List<Core.Models.Manifest<BNetLib.Models.Versions[]>>
@{
}

<div class="col-lg-6 col-sm-12">
    <div class="card ">
        <div class="card-header">
            <div class="col-sm-12 text-left">
                <h5 class="card-category">@Model.First().Seqn was indexed on @Model.First().Indexed.ToString("dddd, dd MMMM yyyy 'at' HH:MM:ss")</h5>
                <h2 class="card-title">Current Seqn</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter table-hover ps" id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Region
                            </th>
                            <th>
                                Version
                            </th>
                            <th>
                                Build Config
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.First().Content)
                        {
                            <tr class="@(item != Model.Last().Content.FirstOrDefault(x => x.Region == item.Region) ? "row-has-changes-full" : "")">
                                <td>@item.GetName()</td>
                                <td>@item.Versionsname</td>
                                <td>@item.Buildconfig</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 col-sm-12">
    <div class="card ">
        <div class="card-header">
            <div class="col-sm-12 text-left">
                <h5 class="card-category">@Model.Last().Seqn was indexed on @Model.Last().Indexed.ToString("dddd, dd MMMM yyyy 'at' HH:MM:ss")</h5>
                <h2 class="card-title">Previous Seqn</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter table-hover ps" id="">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                Region
                            </th>
                            <th>
                                Version
                            </th>
                            <th>
                                Build Config
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Last().Content)
                        {
                        <tr>
                            <td>@item.GetName()</td>
                            <td>@item.Versionsname</td>
                            <td>@item.Buildconfig</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>