@model List<Core.Models.Manifest<BNetLib.Models.Versions[]>>
@inject Core.Services.ICDNs cdns

@{
    var cdnConfig = await cdns.Latest(Model.First().Code);

    var cdn = cdnConfig.Content.FirstOrDefault(x => x.Name == "us");

    var server = cdn?.Hosts.Split(" ").First();
}

<div class="col-sm-12">
    <div class="card ">
        <div class="card-header">
            <div class="col-sm-12 text-left">
                <h2 class="card-title">Current Seqn</h2>
                <div class="card-category">@Model.First().Seqn was indexed on 
                    <time>
                        @Model.First().Indexed.ToString("ddd, dd MMM yyyy hh:mm:ss ") GMT
                    </time></div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter table-hover ps" id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Region
                            </th>
                            <th>
                                Version
                            </th>
                            <th>
                                Build Config
                            </th>
                            <th>
                                CDN Config
                            </th>
                            <th>
                                Product Config
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.First().Content.Length > 0)
                        {
                            @foreach (var item in Model.First().Content)
                            {
                                <tr>
                                    <td>@item.GetName()</td>
                                    <td class="@(item.Versionsname != Model.Last().Content.FirstOrDefault(x => x.Region == item.Region)?.Versionsname ? "has-changed-data" : "")">
                                        @item.Versionsname
                                    </td>
                                    <td class="@(item.Buildconfig != Model.Last().Content.FirstOrDefault(x => x.Region == item.Region)?.Buildconfig ? "has-changed-data" : "")">
                                        @if (string.IsNullOrEmpty(server))
                                        {
                                            @item.Buildconfig
                                        }  else {
                                            var dest = $"{cdn.Path}/config/{string.Join("", item.Buildconfig.Take(2))}/{string.Join("", item.Buildconfig.Skip(2).Take(2))}/{item.Buildconfig}";

                                            <a href="@($"http://{server}/{dest}")" target="_blank" rel="nofollow">
                                                @item.Buildconfig
                                            </a>
                                        }
                                    </td>
                                    <td class="@(item.Cdnconfig != Model.Last().Content.FirstOrDefault(x => x.Region == item.Region)?.Cdnconfig ? "has-changed-data" : "")">
                                        @if (string.IsNullOrEmpty(server))
                                        {
                                            @item.Cdnconfig
                                        }
                                        else
                                        {
                                            var dest = $"{cdn.Path}/config/{string.Join("", item.Cdnconfig.Take(2))}/{string.Join("", item.Cdnconfig.Skip(2).Take(2))}/{item.Cdnconfig}";

                                            <a href="@($"http://{server}/{dest}")" target="_blank" rel="nofollow">
                                                @item.Cdnconfig
                                            </a>
                                        }
                                    </td>
                                    <td class="@(item.Productconfig != Model.Last().Content.FirstOrDefault(x => x.Region == item.Region)?.Productconfig ? "has-changed-data" : "")">
                                        @if (item.Productconfig == "versions" || string.IsNullOrEmpty(item.Productconfig))
                                        {
                                            @("N/A")
                                        }
                                        else
                                        {
                                            <a asp-page="/ViewGameConfigs" asp-route-hash="@item.Productconfig">
                                                @item.Productconfig
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        } else
                        {
                            <tr>
                                <td colspan="5" class="text-center my-3" style="font-size: large">
                                    <i class="fas fa-times mr-1"></i> Empty Manifest
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (@Model.Last().Seqn != @Model.First().Seqn)
{
<div class="col-sm-12"> 
    <div class="card ">
        <div class="card-header">
            <div class="col-sm-12 text-left">
                <h2 class="card-title">Previous Seqn</h2>
                <div class="card-category">@Model.Last().Seqn was indexed on 
                    <time>
                        @Model.Last().Indexed.ToString("ddd, dd MMM yyyy hh:mm:ss ") GMT
                    </time></div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter table-hover ps" id="">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                Region
                            </th>
                            <th>
                                Version
                            </th>
                            <th>
                                Build Config
                            </th>
                            <th>
                                CDN Config
                            </th>
                            <th>
                                Product Config
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Last().Content)
                        {
                            <tr>
                                <td>@item.GetName()</td>
                                <td class="@(item.Versionsname != Model.First().Content.FirstOrDefault(x => x.Region == item.Region)?.Versionsname ? "has-changed-data" : "")">
                                    @item.Versionsname
                                </td>
                                <td class="@(item.Buildconfig != Model.First().Content.FirstOrDefault(x => x.Region == item.Region)?.Buildconfig ? "has-changed-data" : "")">
                                    @if (string.IsNullOrEmpty(server))
                                    {
                                        @item.Buildconfig
                                    }
                                    else
                                    {
                                        var dest = $"{cdn.Path}/config/{string.Join("", item.Buildconfig.Take(2))}/{string.Join("", item.Buildconfig.Skip(2).Take(2))}/{item.Buildconfig}";

                                        <a href="@($"http://{server}/{dest}")" target="_blank" rel="nofollow">
                                            @item.Buildconfig
                                        </a>
                                    }
                                </td>
                                <td class="@(item.Cdnconfig != Model.First().Content.FirstOrDefault(x => x.Region == item.Region)?.Cdnconfig ? "has-changed-data" : "")">
                                    @if (string.IsNullOrEmpty(server))
                                    {
                                        @item.Cdnconfig
                                    }
                                    else
                                    {
                                        var dest = $"{cdn.Path}/config/{string.Join("", item.Cdnconfig.Take(2))}/{string.Join("", item.Cdnconfig.Skip(2).Take(2))}/{item.Cdnconfig}";

                                        <a href="@($"http://{server}/{dest}")" target="_blank" rel="nofollow">
                                            @item.Cdnconfig
                                        </a>
                                    }
                                </td>
                                <td class="@(item.Productconfig != Model.First().Content.FirstOrDefault(x => x.Region == item.Region)?.Productconfig ? "has-changed-data" : "")">
                                    @if (item.Productconfig == "versions" || string.IsNullOrEmpty(item.Productconfig))
                                    {
                                        @("N/A")
                                    }
                                    else
                                    {
                                        <a asp-page="/ViewGameConfigs" asp-route-hash="@item.Productconfig">
                                            @item.Productconfig
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}