<!DOCTYPE html>
<html lang="en">

@inject IConfiguration config;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow" />
    <meta name="tags"
          content="blizzard, overwatch, world of warcraft, version tracker, wow, ow, diablo 3, starcraft 2, public test realm, ptr, hearthstone, heroes of the storm, starcraft, starcraft ii, overwatch ptr patch notes, heroes of the storm ptr patch notes" />

    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <title>
        @ViewData["Title"] - BlizzTrack
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="~/css/overrides.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://cdn.blizztrack.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://cdn.blizztrack.com/">

    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon-180x180.png">
    <meta name="google-play-app" content="app-id=com.blizztrack.mobile.android">


    <meta Name="description" Content="A powerful website which lets you view the versions of all the games that Blizzard Entertainment has on Battle.net!" />
    <meta Name="og:description" Content="A powerful website which lets you view the versions of all the games that Blizzard Entertainment has on Battle.net!" />
    <meta Name="og:type" Content="website" />
    <meta Name="og:title" Content="@ViewData["Title"]" />
    <meta Name="og:site_name" Content="BlizzTrack" />
    <meta Name="twitter:title" Content="@ViewData["Title"]" />

    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header", required: false)
    }

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86267615-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-86267615-5');
    </script>

</head>

<body class="">
    <div class="wrapper">
        <div class="sidebar" data="blue">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-mini">
                        <img width="32" src="~/images/logos/bt.svg" alt="BlizzTrack" />
                    </a>
                    <a href="javascript:void(0)" class="simple-text logo-normal">
                        BlizzTrack
                    </a>
                </div>
                <ul class="nav">
                    <li class="@(string.IsNullOrEmpty(ViewData["Page"] as string) ? "active" : "")">
                        <a asp-page="/Index" style="display: inline-flex">
                            <i class="tim-icons fa fa-home"></i>
                            <p class="nav-item-title">All Games</p>
                        </a>
                    </li>
                    <li class="@(string.Equals(ViewData["Page"] as string, "Discord Bot") ? "active" : "")">
                        <a asp-page="/Docs/Bot" style="display: inline-flex">
                            <i class="tim-icons fa fa-robot"></i>
                            <p class="nav-item-title">Discord Bot</p>
                        </a>
                    </li>
                    <li class="@(string.Equals(ViewData["Page"] as string, "Terminal") ? "active" : "")">
                        <a asp-page="/Term" style="display: inline-flex">
                            <i class="tim-icons fa fa-terminal"></i>
                            <p class="nav-item-title">Ribbit Terminal</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" data="blue">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" asp-page="/Index">
                            BlizzTrack
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="search-bar input-group" style="width: auto !important;">
                                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal">
                                    <i class="tim-icons fa fa-search"></i>
                                    <span class="d-lg-none d-md-block">Search</span>
                                </button>
                            </li>
                            <feature name="auth">
                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown nav-item">
                                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                            <div class="photo">
                                                <img src="~/images/user/placeholder.png" alt="Profile Photo">
                                            </div>
                                            <b class="caret d-none d-lg-block d-xl-block"></b>
                                            <p class="d-lg-none">
                                                @(Context.User.Claims.First(x => x.Type == "urn:battle_tag").Value)
                                            </p>
                                        </a>
                                        <ul class="dropdown-menu dropdown-navbar">
                                            <li class="nav-link">
                                                <a href="javascript:void(0)" class="nav-item dropdown-item">
                                                    <i class="fa fa-user tim-icons"></i> My Profile
                                                </a>
                                            </li>
                                            <li class="dropdown-divider"></li>
                                            @if (Context.User.IsInRole("Admin"))
                                            {
                                                <li class="nav-link">
                                                    <a asp-page="/Admin/Index" class="nav-item dropdown-item">
                                                        <i class="fab fa-mandalorian tim-icons"></i> Admin Panel
                                                    </a>
                                                </li>
                                                <li class="dropdown-divider"></li>
                                            }
                                            <li class="nav-link">
                                                <a asp-controller="Auth" asp-action="Logout" class="nav-item dropdown-item">
                                                    <i class="fa fa-door-closed tim-icons"></i> Log Out
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item" style="padding: 5px">
                                        <a class="nav-link" asp-controller="Auth" asp-action="Login" style="padding: 8px; display: inline-flex">
                                            <i class="fa fa-user tim-icons mr-2"></i> Login with Battle.net
                                        </a>
                                    </li>
                                }
                                <li class="separator d-lg-none"></li>
                            </feature>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="get" action="/" class="modal-header" autocomplete="off">
                            <input autocomplete="off" name="search" type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH FOR GAME">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i data-feather="x" class="tim-icons icon-simple-remove"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
            <div class="content">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://twitter.com/helba_the_ai" target="_blank" class="nav-link">
                                Helba_The_AI
                            </a>
                        </li>
                    </ul>
                    <div class="copyright">
                        BlizzTrack created by Helba
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-primary" data-color="primary"></span>
                            <span class="badge filter badge-info active" data-color="blue"></span>
                            <span class="badge filter badge-success" data-color="green"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line text-center color-change mb-2">
                    <span class="color-label">LIGHT MODE</span>
                    <span class="badge light-badge mr-2"></span>
                    <span class="badge dark-badge ml-2"></span>
                    <span class="color-label">DARK MODE</span>
                </li>
            </ul>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper.js/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery.perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery.terminal/js/jquery.terminal.min.js" asp-append-version="true"></script>

    <script src="~/lib/feather-icons/feather.min.js" asp-append-version="true"></script>
    <script>
        feather.replace();
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-notify.js" asp-append-version="true"></script>
    <script src="~/js/storage.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $().ready(function () {
                $sidebar = $('.sidebar');
                $navbar = $('.navbar');
                $main_panel = $('.main-panel');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;
                white_color = false;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                const data = window.store.get("config");
                let localSettings = {};
                if (data)
                    localSettings = JSON.parse(data);

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
                    if (localSettings.theme != "device") {
                        return;
                    }
                    const newColorScheme = e.matches ? "dark" : "light";

                    if (newColorScheme === "dark") {
                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);

                        white_color = false;
                    } else {
                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }
                });

                if (localSettings.theme) {
                    const newColorScheme = localSettings.theme;

                    if (newColorScheme === "dark") {
                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);

                        white_color = false;
                    } else {
                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }
                }

                if (localSettings.sidebar) {
                    var new_color = localSettings.sidebar;

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data', new_color);
                    }

                    if ($main_panel.length != 0) {
                        $main_panel.attr('data', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data', new_color);
                    }

                    const $events = $(".fixed-plugin .background-color span");
                    $events.siblings().removeClass('active');

                    $("span.badge[data-color='" + new_color + "']").addClass("active");
                }


                $('.fixed-plugin a').click(function (event) {
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data', new_color);
                    }

                    if ($main_panel.length != 0) {
                        $main_panel.attr('data', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data', new_color);
                    }

                    localSettings.sidebar = new_color;
                    window.store.set("config", JSON.stringify(localSettings));
                });

                $('.light-badge').click(function () {
                    $('body').addClass('white-content');

                    localSettings.theme = "light";
                    window.store.set("config", JSON.stringify(localSettings));
                });

                $('.dark-badge').click(function () {
                    $('body').removeClass('white-content');

                    localSettings.theme = "dark";
                    window.store.set("config", JSON.stringify(localSettings));
                });
            });
        });
    </script>
</body>

</html>